h1 {
    color: #63946B;
    text-align: center;
    font-family: Anybody;
    font-size: 55px;
    font-style: normal;
    font-weight: 500;
    line-height:  112.5%;
}
/* The H1 here /\ is below the hero image in green */

#about-hero {
    display: flex;
    height: 500px;
    overflow: hidden;
    align-items: center;

    @media screen and (min-width: 1200px) {
    height: 900px;
    }

    #about-hero-bg {
        background-image: url("../media/img/parallax/jayden/cleanplate.png");
        background-size: cover;
        position: relative;
        width: 100vw;
        height: 100%;
        background-size: 220%;
        scale: 120%;
        transform: translateY(-10px);

        @media screen and (min-width: 1200px) {
            background-size: 100%;
        }
    }

    #about-hero-jayden {
        background-image: url("../media/img/parallax/jayden/jayden.png");
        background-size: 135%;
        background-repeat: no-repeat;
        position: absolute;
        width: 500px;
        transform: translate(-200px, 200px);
        height: 92%;

        @media screen and (min-width: 1200px) {
            width: 1200px;
            transform: translate(0, 0);
        }
    }

    #about-hero-text {
        position: absolute;
        top: 10vw;
        left: 10vw;
        z-index: 0;

        p {
            color: var(--jidarkgreen);
            font-family: "Anybody", sans-serif;
            font-optical-sizing: auto;
            font-size: 80px;
            font-weight: 800;
            font-style: normal;
            font-variation-settings:
                "wdth" 100;
        }
    }
}

.content-container {
    position: absolute;
    text-align: center;
    background-color: var(--jigrey);
    align-content: center;
    align-items: center;

    #grey-cover  {
        position: absolute;
        display: flex;
        align-items: center;
        align-content: center;
        background-color: var(--jigrey);
        width: 100vw;
        height: 50px;
    }

    .header-container {
        text-align: center;
        display: flex;
        width: 100vw;
        margin-left: 0;
        margin-bottom: -40px;
        padding-top: 40px;
        position: absolute;
        justify-content: center;

        @media screen and (min-width: 1200px) {
        width: 700px;
        margin-left: 40vw;
        }

        h1 {
            text-align: center;
            font-size: 34px;

            @media screen and (min-width: 1200px) {
                font-size: 55px;
            }
        }
    }

    .description-container {
        /* This is the first block of text at the above insertimg */
        display: flex;
        width: 90vw;
        align-content: center;
        padding-top: 160px;
        padding-bottom: 80px;
        text-align: left;
        justify-content: center;
        padding-left: 20px;
        
        @media screen and (min-width: 1200px) {
            width: 1200px;
            padding-left: 0;
        padding-top: 270px;

        }
    }

    .qa-container {
        display: flex;
        width: 80vw;
        margin-left: 10vw;
        margin-top: 100px;
        text-align: left;
        position: relative;

        .question {
            width: 100%;
        }

        .answer {
            margin-top: 160px;
            margin-left: 160px;
            max-width: 1600px;
            position: absolute;

            .values {
                margin-bottom: 100px;
            }

            .value-title {
                font-weight: 800;
                font-size: 32px;
            }

            .value-desc {
                margin-left: 100px;
                max-width: 1200px;
            }

            .image-holder {
                width: 100%;
                display: flex;
                height: 600px;
                margin-top: 100px;


                .images {
                    max-height: 400px;
                    max-width: 400px;
                    overflow: hidden;
                    border-radius: 30px;
                    flex-shrink: 1;
                    transition: all 0.4s ease;
                }

                #img1 {
                    flex-shrink: 2;
                    height: 100%;
                    width: 100%;
                    background-image: url("../media/img/about1.jpeg");
                    background-size: cover;
                    background-position: center;
                }

                #img2 {
                    margin-left: 20px;
                    height: 100%;
                    width: 100%;
                    background-image: url("../media/img/about3.jpeg");
                    background-size: cover;
                    background-position: center;
                }

                #img3 {
                    flex-shrink: 2;
                    margin-left: 20px;
                    height: 100%;
                    width: 100%;
                    background-image: url("../media/img/about2.jpeg");
                    background-size: cover;
                    background-position: center;
                }
            }
        }

    }



    #first-qa {
        height: 400px;
        /* This is to deal with the position absolute applied on the answer text*/
    }

    #second-qa {
        height: 880px;
    }

    #third-qa {
        height: 900px;
    }

    #fourth-qa {
        padding-top: 110px;
        padding-bottom: 860px;
    }

    #green-highlight {
        color: var(--jilightgreen);
    }

    .image-container {
        max-width: 90vw;
        overflow: hidden;
        border-radius: 40px;
        margin: auto;
        display: flex;

        @media screen and (min-width: 1200px) {
            max-width: 1340px;
            max-height: 778px;
        }
    }
    
    #about-insertimg {
        max-width: 1340px;
        max-height: 778px;
        overflow: hidden;
        border-radius: 40px;
        margin: auto;
        display: flex;
    }

    .education-container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 50wv;
        height: 550px;
        margin-left: 10vw;
        margin-top: 60px;
        padding-top: 20px;
        padding-left: 4vw;
        background-color: var(--jidarkgreen);
        border-radius: 30px;
        border-color: #fff;
        border: solid 6px #fff;

        .education-title {
            font-weight: 700;
            width: 100%;
            margin-bottom: 80px;
        }

        .edu-left {
            width: 66%;

            ul {
                font-size: 1.5rem;
            }
            
            p {
                font-size: 1.5rem;
            }
        }

        .edu-right {
            display: flex;
            flex-direction: column;
            width: 30%;
            align-items: flex-end;
            padding-right: 4vw;
            padding-top: 140px;
            margin-bottom: 40px;

            .skill-bubble {
                width: 10vw;
                height: 56px;
                margin-bottom: 12px;
                text-align: center;
                align-content: center;
                border-radius: 13px;
                border: 4px solid #FFF;
                background-color: var(--jilightgreen);

                p {
                    margin-top: 8px;
                    font-size: 1.5vw;
                }

            }
        }
    }
}

footer {
    margin-top: 60px;
}