h1 {
    color: #63946B;
    text-align: center;
    font-family: Anybody;
    font-size: 55px;
    font-style: normal;
    font-weight: 500;
    line-height:  112.5%;
}



.header-container {
    text-align: center;
    display: flex;
    width: 700px;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 80px;
}

.text-container {
    display: flex;
    width: 1200px;
    align-content: center;
    margin: auto;
    padding-bottom: 80px;
    text-align: left;

}

#contact-insertimg {
    width: 1340px;
    border-radius: 40px;
    margin: auto;
    display: flex;
}

.content-container {
    text-align: center;
}


#contact-hero {
    display: flex;
    height: 85vh;
    overflow: hidden;
    align-items: center;
}

#contact-hero img {
    width: 100%;
}

#green-highlight {
    color: var(--jilightgreen);
}

