main {
    position: absolute;
}

#about-hero {
    display: flex;
    height: 900px;
    overflow: hidden;
    align-items: center;
}

#about-hero-bg {
    background-image: url("../media/img/parallax/jayden/cleanplate.png");
    background-size: cover;
    position: relative;
    width: 100vw;
    height: 100%;
    scale: 120%;
}

#about-hero-jayden {
    background-image: url("../media/img/parallax/jayden/jayden.png");
    background-size: 135%;
    background-repeat: no-repeat;
    position: absolute;
    width: 1200px;
    height: 92%;
}

#about-hero-text {
    position: absolute;
    top: 10vw;
    left: 10vw;
    z-index: 3;
}

#about-hero-text p {
    color: var(--jidarkgreen);
    font-family: "Anybody", sans-serif;
    font-optical-sizing: auto;
    font-size: 80px;
    font-weight: 800;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.about {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    background-color: var(--jiolive);
    background-image: url("../media/topo/tall-left.png"), url("../media/topo/rightside.png");
    background-position: bottom left, bottom right;
    background-repeat: no-repeat;
}

.about-profile {
    flex: 1 0 50%;
    overflow: hidden;
    height: 575px;
    width: 40vw;
    margin-left: 80px;
    margin-top: 60px;
    margin-bottom: 60px;
    border-radius: 40px;
    max-width: 600px;
}

#profile-pic {
    width: 700px;
    align-items: center;
    transform: translate(-80px,-240px);
}

.about-right {
    padding-left: 60px;
    flex: 1 0 50%;
}

.about-right h1 {
    color: #FFF;
    font-family: Anybody;
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: 0.8;
}

#jaydenstitle {
    font-family: "Be Vietnam Pro";
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.about-right p {
    color: #FFF;
    font-family: "Be Vietnam Pro";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 700px;
    padding-top: 20px; /* Adjusted padding for better spacing */
}
