.cta-button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
}

.cta {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    width: fit-content;
    height: 38px;
    padding: 8px 12px;
    border-radius: 12px;
    border: 3px solid #FFF;
    background: #3B6842;

    justify-content: left;
    transition: all 0.2s ease;
        color: #FFF;
        text-wrap: nowrap;
        font-family: "Be Vietnam Pro";
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 144.778%; /* 28.956px */

    img {
        height: 70%;
        width: 70%;
        align-items: center;    
        transition: all 0.2s ease;
    }
}

.cta:hover {
    background-color: #204d26;

    img {
        /* transform: translateX(8px); */
        margin-left: 8px;
    }
}