h1 {
  font-family: "Anybody", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

h2 {
  font-family: "Anybody", sans-serif;
  font-optical-sizing: auto;
  color: var(--jiwhite);
  font-weight: 500;
  font-size: 64px;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

h3 {
  font-family: "Anybody", sans-serif;
  font-size: 32px;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  color: var(--jiwhite);
}

p {
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 14px;
  line-height: 1.4;
  font-weight: 200;
  font-style: normal;
  color: rgb(200, 200, 200);

  @media screen and (min-width: 1200px) {
      font-size: 20px;
      font-weight: 200;
  }
}

.nav-links a {
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 28px;
  color: var(--jiwhite);
  font-weight: 600;
}

ul {
    font-family: "Be Vietnam Pro", sans-serif;
    font-size: 1.8rem;
    font-weight: 200;
    font-style: normal;
    color: white;
}

.highlight{
  color: #fff;
  font-weight: bold;
}