h1 {
  font-family: "Anybody", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

h2 {
  font-family: "Anybody", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

h3 {
  font-family: "Anybody", sans-serif;
  font-size: 32px;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  color: var(--jiwhite);
}

p {
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  font-style: normal;
  color: white;
}


.nav-links a {
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 28px;
  color: var(--jiwhite);
  font-weight: 600;
}


