footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
    height: 200px;
    width: 100vw;
    background-color: var(--jiolive);
    text-align: center !important;
    align-items: center;

    background-image: url("../media/topo/footer/left.png"), url("../media/topo/footer/right.png");
    background-position: top left, top right;
    background-repeat: no-repeat;
    background-size: 60%;

    @media screen and (min-width: 1200px) {
        height: 200px;
        background-size: auto;
    }

    .leftfoot {
        width: 50%;
        background-size: 100%;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        gap: 40px;


        @media screen and (min-width: 1200px) {
            flex-direction: column;
            padding-left: 180px;
        }

        p {
            font-family: "Anybody", sans-serif;
            font-size: 28px;
            margin-top: -10px;
            color: white;
            font-optical-sizing: auto;
            font-weight: 800;
            font-style: normal;
            font-variation-settings:
                "wdth" 100;

            @media screen and (min-width: 1200px) {
                font-size: 54px;
                margin-top: 10px;
            }
        }
    }

    .rightfoot {
        width: 48%;
        text-align: left;

        p {
            line-height: 1.6;
            font-weight: 300;
            color: white;
            font-size: 18px;

            @media screen and (min-width: 1200px) {
                font-size: 24px;
            }
        }
    }

    .socials {
        margin-top: -70px;

        @media screen and (min-width: 1200px) {
            margin-top: -105px;
        }        

    }
    .social-icon {
        width: 32px;
        margin: 8px;
    }
}

#email {
    font-size: 14px;

    @media screen and (min-width: 1200px) {
        font-size: 24px;
    }
}