#home-hero {
    display: flex;
    height: 1500px;
    overflow:visible;
    align-items: center;

    #home-hero-4 {
        background-image: url("../media/img/parallax/home/Home-4b.png");
        background-size: cover;
        position: absolute;
        width: 100%;
        height: 2000px;
        scale: 100%;
        transform: translateY(-20px);
    }

    #home-hero-3 {
        background-image: url("../media/img/parallax/home/Home-3b.png");
        background-size: cover;
        position: absolute;
        width: 100%;
        height: 2000px; 
        scale: 100%;    
        transform: translateY(-60px);
    }

    #home-hero-2 {
        background-image: url("../media/img/parallax/home/Home-2b.png");
        background-size: cover;
        position: absolute;
        width: 100%;
        height: 2000px;
        scale: 100%;
        transform: translateY(120px);
    }

    #home-hero-1 {
        background-image: url("../media/img/parallax/home/Home-1b.png");
        background-size: cover;
        position: absolute;
        width: 100%;
        height: 2000px; 
        scale: 100%; 
        transform: translateY(450px);
    }

    #home-hero-text {
        position: absolute;
        width: 100vw;
        width: 70vw;
        left: 14vw;
        transform: translateY(-590px);


        p {
            color: var(--jidarkgreen);
            font-family: "Anybody", sans-serif;
            font-optical-sizing: auto;
            font-size: 80px;
            font-weight: 800;
            font-style: normal;
            font-variation-settings:
                "wdth" 100;
        }

        h1 {
            margin-top: -85px ;
            font-weight: 700;
            font-size: 26px;
        }
    }
}

.content {
    padding-top: 600px;
    background-color: blue;
}

#grey-cover  {
    position: absolute;
    z-index: 9;
    background-color: var(--jigrey);
    width: 100vw;
    height: 500px;
}

.about {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    z-index: 20;

    .about-profilepic {
        flex: 0 0 50%;
        background-color: brown;

        #profile-pic {
            width: 650px;
            height: 575px;
        }
    }

    .about-right {
        padding: 170px;
    }
}
