h2 {
    color: #FFF;
    font-family: Anybody;
    font-size: 23px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 5px;
    
    @media screen and (min-width: 1200px) {
        font-size: 48px;
    }
}

h3 {
    color: #FFF;
    font-family: Anybody;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    padding-top: 45px;
    font-size: 32px;
    margin-left: 20px;

    @media screen and (min-width: 1200px) {
        font-size: 64px;
        padding-top: 80px;
        margin-left: 120px;
    }
}

#home-hero {
    display: flex;
    height: 800px;
    overflow: visible;
    align-items: center;

    @media screen and (min-width: 1200px) {
        height: 1500px;
    }

    #home-hero-4 {
        background-image: url("../media/img/parallax/home/Home-4.png");
        background-size: cover;
        position: absolute;
        width: 100%;
        height: 2000px;
        scale: 100%;
        transform: translateY(-20px);

        @media screen and (min-width: 1200px) {
            width: 100%;
            height: 2000px;
            scale: 100%;
            transform: translateY(-20px);
        }
    }

    #home-hero-3 {
        background-image: url("../media/img/parallax/home/Home-3.png");
        background-size: cover;
        position: absolute;
        width: 100%;
        height: 2000px; 
        scale: 100%;    
        transform: translateY(-60px);

        @media screen and (min-width: 1200px) {
            width: 100%;
            height: 2000px;
            scale: 100%;
            transform: translateY(-60px);
        }
    }

    #home-hero-2 {
        background-image: url("../media/img/parallax/home/Home-2.png");
        background-size: cover;
        position: absolute;
        width: 100%;
        height: 2000px;
        scale: 100%;
        transform: translateY(120px);

        @media screen and (min-width: 1200px) {
            width: 100%;
            height: 2000px;
            scale: 100%;
            transform: translateY(120px);
        }
    }

    #home-hero-1 {
        background-image: url("../media/img/parallax/home/Home-1.png");
        background-size: cover;
        position: absolute;
        width: 100%;
        height: 2000px; 
        scale: 100%; 
        transform: translateY(450px);

        @media screen and (min-width: 1200px) {
            width: 100%;
            height: 2000px;
            scale: 100%;
            transform: translateY(450px);
        }
    }

    #home-hero-text {
        position: absolute;
        width: 90vw;
        left: 14vw;
        transform: translateY(-590px);

        @media screen and (min-width: 1200px) {
            width: 70vw;
            left: 14vw;
            transform: translateY(-590px);
        }

        p {
            color: var(--jidarkgreen);
            font-family: "Anybody", sans-serif;
            font-optical-sizing: auto;
            font-size: 40px;
            font-weight: 800;
            font-style: normal;
            font-variation-settings:
                "wdth" 100;

                @media screen and (min-width: 1200px) {
                    font-size: 80px;
                }
        }

        h1 {
            margin-top: -40px ;
            font-weight: 700;
            font-size: 18px;

            @media screen and (min-width: 1200px) {
                font-size: 26px;
                margin-top: -85px ;
            }
        }
    }
}

#global-nav {
    background-color: transparent;
}

.content {
    margin-top: 600px;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.about {
    display: flex;
    width: 100vw;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--jiolive);
    background-image: url("../media/topo/tall-left.png"), url("../media/topo/rightside.png");
    background-position: bottom left, bottom right;
    background-repeat: no-repeat;

    @media screen and (min-width: 1200px) {
        flex-direction: row;
    }

    .about-profile {
        display: flex;
        overflow: hidden;
        height: 575px;
        margin-top: 60px;
        margin-bottom: 0px;
        border-radius: 40px;
        align-items: center;
        justify-content: center;


        @media screen and (min-width: 1200px) {
            flex: 0 0 50%;
            height: 575px;
            margin-top: 60px;
            margin-bottom: 60px;
            border-radius: 40px;
            max-width: 600px;
        }


        #profile-pic {
            width: 100%;

            @media screen and (min-width: 1200px) {
                transform: translate(-80px,-240px);
            }
        }
    }

    .about-right {
        padding-left: 20px;
        padding-right: 20px;

        @media screen and (min-width: 1200px) {
            flex: 0 1 50%;
            width: 50vw;
            padding-left: 60px;
        }
        
        h1 {
            color: #FFF;
            font-family: Anybody;
            font-size: 30px;
            font-style: normal;
            font-weight: 500;
            line-height: 0.8;
            text-wrap: wrap;

            @media screen and (min-width: 1200px) {
                font-size: 64px;
            }

            #jaydenstitle {
                font-family: "Be Vietnam Pro";
                font-size: 22px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                text-wrap: wrap;

                @media screen and (min-width: 1200px) {
                    font-size: 22px;
                }
            }
        }

        p {
            color: #FFF;
            font-family: "Be Vietnam Pro";
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            padding-top: 20px;
            text-wrap: wrap;

            @media screen and (min-width: 1200px) {
                font-size: 20px;
                padding-top: 40px;
            }
        }
    }
}

.photography {
    display: flex;
    flex-direction: column;

    .photo-banner-section {
        display: flex;
        flex-direction: column;

        .photo-banners {
            display: flex;
            flex-direction: column;
            height: 200px;
            width: 100vw;

            @media screen and (min-width: 1200px) {
                width: 100vw;
                height: 350px;
            }
        }

        #adventure {
            background-image: url("../media/img/adventure-banner.jpeg");
            background-position: center;
            background-size: cover;
            background-blend-mode: darken;
            transition: all 0.2s ease;

            @media screen and (min-width: 1200px) {
                background-color: rgba(0,0,0,0.6);
            }
        }

        #landscape {
            background-image: url("../media/img/landscape-banner.jpeg");
            background-position: center;
            background-size: cover;
            background-blend-mode: darken;
            transition: all 0.2s ease;

            @media screen and (min-width: 1200px) {
                background-color: rgba(0,0,0,0.6);
            }
        }

        #commercial {
            background-image: url("../media/img/commercial-banner.jpeg");
            background-position: center;
            background-size: cover;
            background-blend-mode: darken;
            transition: all 0.2s ease;

            @media screen and (min-width: 1200px) {
                background-color: rgba(0,0,0,0.6);
            }
        }

        .seemore-container {
            display: none;
            height: 80px;
            position: absolute;
            margin-top: 185px;
            margin-left: 340px;
            overflow: hidden;
            align-items: start;
            text-align: start;

            @media screen and (min-width: 1200px) {
                display: inline;
            }

            .seemore-text {
                transform: translateY(-80px);
                transition: all 0.2s ease;
                color: #FFF;
                font-family: "Be Vietnam Pro";
                font-size: 32px;
                font-style: normal;
                font-weight: 800;
                line-height: normal;
            }
        }

        #commercial-seemore {
            margin-left: 390px;
        }
    }

    .photo-banners:hover > .seemore-container > .seemore-text {
        transform: translateY(-15px);
    }

    #adventure:hover {
        background-color: transparent;
        background-blend-mode: darken;
    }

    #landscape:hover {
        background-color: transparent;
        background-blend-mode: darken;
    }

    #commercial:hover {
        background-color: transparent;
        background-blend-mode: darken;
    }
}

.clients {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 250px;
    width: 100vw;
    overflow: hidden;

    @media screen and (min-width: 1200px) {
        height: 350px;
    }

    .client-header {
        text-align: center;
    }

    #logo-container {
        display: flex;
        flex-direction: row;
        margin-top: 30px;
        gap: 20px;
        
        @media screen and (min-width: 1200px) {
            gap: 50px;
        }
        
        img {
            height: 100px;
        }
    }

}

.videography {
    height: 100vw;
    width: 100vw;
    background-image: url("/media/img/video-banner.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.4s ease;

    @media screen and (min-width: 1200px) {
        height: 800px;
        width: 100vw;
    }


    .seemore-container {
        height: 80px;
        position: absolute;
        margin-top: -75px;
        margin-left: 410px;
        overflow: hidden;
        align-items: start;
        text-align: start;

        .seemore-text {
            transform: translateY(-80px);
            transition: all 0.2s ease;
            color: #FFF;
            font-family: "Be Vietnam Pro";
            font-size: 32px;
            font-style: normal;
            font-weight: 800;
            line-height: normal;
        }
    }
}

.videography:hover {
    background-size: 106%;
    transition: all 0.4s ease;
    background-position: center;
}
.videography:hover > .seemore-container > .seemore-text {
    transform: translateY(-15px);
}

.newmedia {
    height: 100vw;
    width: 100vw;
    background-image: url("/media/img/newmediabanner.jpeg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row-reverse;
    transition: all 0.6s;

    @media screen and (min-width: 1200px) {
        height: 800px;
        width: 100vw;
        background-position: bottom;
    }

    h3 {
        width: 1100px;
        text-align: right;
        margin-right: 60px;
    }

    .seemore-container {
        height: 80px;
        position: absolute;
        margin-top: 197px;
        margin-right: 60px; 
        overflow: hidden;
        align-items: start;
        text-align: start;

        .seemore-text {
            transform: translateY(-80px);
            transition: all 0.2s ease;
            color: #FFF;
            font-family: "Be Vietnam Pro";
            font-size: 32px;
            font-style: normal;
            font-weight: 800;
            line-height: normal;
            display: none;

            @media screen and (min-width: 1200px) {
                display: block;
            }
        }
    }
}

.newmedia:hover {
    background-size: 106%;
    background-position: center;
}
.newmedia:hover > .seemore-container > .seemore-text {
    transform: translateY(-15px);
}

.bio-video {
    height: 900px;

    video {
        width: 100%;
    }
}