#global-nav {
    height: 90px;
    width: 100vw;
    display: flex;
    background-color: #222922;
    justify-content: start;
    position: fixed;
    z-index: 2;
}

#nav-logo {
    height: 100%;
    justify-content: flex-start;
    transition: all 0.1s ease;
}

#nav-logo:hover {
    filter: brightness(1.5);
}

#nav-logo img {
    height: 100%;
}

#nav-links-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    width: 80%;
    align-items: center;
    flex-grow: 2;
    padding-right: 5vw;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 5vw;
}

.nav-links a {
    text-decoration: none;
    transition: all 0.2s ease;
    font-size: 18px;
    transition: 0.2s all ease;
}

#reach-out {
    color: #B4D5E4;
    transition: all 0.2s ease;
}

.nav-links a:hover {
    color: var(--jilightgreen);
    text-decoration: underline;
}


/* THIS TOGGLES THE HAMBURGER */

#global-nav {
    display: none;

    @media screen and (min-width: 1200px){
        display: flex;
        
    }
}

#hamburger {
    display: block;

    @media screen and (min-width: 1200px){
        display: none;
        
    }
}