#newmedia-hero {
    display: flex;
    height: 900px;
    overflow: hidden;
    align-items: center;

    #newmedia-hero-bg {
        background-image: url("../media/img/parallax/newmedia/newmedia-Sky.png");
        background-size: cover;
        position: relative;
        width: 100vw;
        height: 100%;
        scale: 120%;

    }

    #newmedia-hero-foreground {
        background-image: url("../media/img/parallax/newmedia/newmedia-Mountain.png");
        background-size: cover;
        position: absolute;
        width: 100vw;
        height: 100%;
        scale: 120%;
    }

    #newmedia-hero-mom {
        position: absolute;
        transform: translateY(-90px);

        p {
            color: var(--jidarkgreen);
            font-family: "Anybody", sans-serif;
            font-optical-sizing: auto;
            font-size: 80px;
            font-weight: 800;
            font-style: normal;
            font-variation-settings:
                "wdth" 100;
        }
    }
}


.content-container {
    text-align: center;
    background-color: var(--jigrey);

    #grey-cover  {
        position: absolute;
        z-index: 1;
        background-color: var(--jigrey);
        width: 100vw;
        height: 250px;
    }

    .project-banner-container {
        margin-top: 3000px;
        display: flex;
        flex-direction: column;

        background-color: red;

        .project {
            width: 100%;
            border: 6px solid white;
            height: 666px;
            
        }


            
        }

        #project1 {
            background-image: url("../media/img/projects/alpinearmourcover.png");
            background-size: cover;
    }

}