/* HERO IMAGE SETUP */
#newmedia-hero {
    display: flex;
    height: 1200px;
    overflow: hidden;
    align-items: center;

    #newmedia-hero-bg {
        background-image: url("../media/img/parallax/newmedia/newmedia-Sky.png");
        background-size: cover;
        position: relative;
        width: 100%;
        height: 100%;
    }

    #newmedia-hero-foreground {
        background-image: url("../media/img/parallax/newmedia/newmedia-Mountain.png");
        background-size: cover;
        position: absolute;
        width: 100%;
        height: 100%;
    }

    #newmedia-hero-text {
        position: absolute;
        width: 100vw;
        width: 70vw;
        left: 20vw;
        transform: translateY(-260px);

        #hero {
            color: var(--jidarkgreen);
            font-family: "Anybody", sans-serif;
            font-optical-sizing: auto;
            font-size: 80px;
            font-weight: 800;
            font-style: normal;
            font-variation-settings:
                "wdth" 100;
        }
    }
}
/* HERO IMAGE SETUP END */


/* ON TO THE GOOD STUFF */
.content-container {
    text-align: center;
    position: absolute;
    background-color: var(--jigrey);
    margin-top: -70px;

    #grey-cover  {
        position: relative;
        background-color: var(--jigrey);
        width: 100vw;
        height: 50px;
        background-image: url("../media/topo/footer/left.png"), url("../media/topo/footer/right.png");
        background-position: top left, top right;
        background-repeat: no-repeat;
    }

    h1 {
        color: white;
        font-size: 48px;
        padding: 60px;
    }

    .project-banner-container {
        display: flex;
        flex-direction: column;
        padding-top: 0px;
        position: relative;

        .project {
            width: 100%;
            height: 566px;
            transition: all 0.3s ease;

            .project-info {
                position: absolute;
                height: 566px;
                width: 100%;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                overflow: hidden;

                .left-side-info {
                    flex-grow: 0;
                    flex-shrink: 1;
                    flex-basis: 500px;
                    padding-left: 60px;
                    padding-right: 80px;
                    padding-top: 20px;
                    padding-bottom: 20px;
                    background-color: var(--jiolive);
                    text-align: left;

                    h2 {
                        color: #FFF;
                        font-family: Anybody;
                        font-size: 36px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 0.9;
                    }

                    h3 {
                        color: #FFF;
                        font-family: "Be Vietnam Pro";
                        font-size: 28px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 0.2;
                    }

                    .project-type {
                        color: #3B6842;
                        font-family: "Be Vietnam Pro";
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 0.3;
                    }

                    .project-desc {
                        color: #FFF;
                        font-family: "Be Vietnam Pro";
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        padding-top: 60px;
                    }
                }
            }
        }

        .project:hover {
            background-color: rgba(0,0,0,0.4);
            background-blend-mode: overlay;
        }
    }


    /* LINKING THE BACKGROUND IMAGES FOR THE PROJECT BANNERS */
    #project1 {
        background-image: url("../media/img/projects/stsfilmfestprojectcover.png");
        background-size: cover;
        background-position: center;
    }

    #project2 {
        background-image: url("../media/img/projects/alpinearmourcover.png");
        background-size: cover;
        background-position: center;
    }

    #project3 {
        background-image: url("../media/img/projects/uiuxprojectcover.png");
        background-size: cover;
        background-position: center;
    }

    #project4 {
        background-image: url("../media/img/projects/uiuxprojectcover.png");
        background-size: cover;
        background-position: center;
    }
}