#newmedia-hero {
    display: flex;
    height: 900px;
    overflow: hidden;
    align-items: center;

    #newmedia-hero-bg {
        background-image: url("../media/img/parallax/newmedia/newmedia-Sky.png");
        background-size: cover;
        position: relative;
        width: 100vw;
        height: 100%;
        scale: 120%;

    }

    #newmedia-hero-foreground {
        background-image: url("../media/img/parallax/newmedia/newmedia-Mountain.png");
        background-size: cover;
        position: absolute;
        width: 100vw;
        height: 100%;
        scale: 120%;
    }

    #about-hero-text {
        position: absolute;
        top: 10vw;
        left: 10vw;
        z-index: 3;

        p {
            color: var(--jidarkgreen);
            font-family: "Anybody", sans-serif;
            font-optical-sizing: auto;
            font-size: 80px;
            font-weight: 800;
            font-style: normal;
            font-variation-settings:
                "wdth" 100;
        }
    }


}