#nav-photo {
  text-decoration: underline;
}

main {
  position: absolute;
}

#photo-hero {
  display: flex;
  height: 900px;
  overflow: hidden;
  align-items: center;

  #photo-hero-bg {
    /* background-image: url("../media/img/gallery/photo-hero.jpg"); */
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100%;
  }
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .header-banner {
    display: flex;
    background-color: var(--jigrey);
    width: 100vw;
    height: 250px;
    background-image: url("../media/topo/footer/left.png"),
      url("../media/topo/footer/right.png");
    background-position: top left, top right;
    background-repeat: no-repeat;
    background-size: 60%;
    text-align: center;
    justify-content: center;

    @media screen and (min-width: 1200px) {
      background-size: 50%;
    }

    h2 {
      color: white;
      font-size: 48px;
      padding: 60px;
    }
  }

  .grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: center;
    /* margin: 0px 20px 0px 20px; */
  }
}

.grid-item {
  flex-basis: 48%;

  @media screen and (min-width: 1200px) {
    flex-basis: 24%;
  }

  img {
    border-radius: 0;
    width: 100%;
    object-fit: fill;
    object-position: center;
  }
}

@media screen and (min-width: 1200px) {
  .landscape {
    :nth-child(1),
    :nth-child(2),
    :nth-child(3),
    :nth-child(8),
    :nth-child(9),
    :nth-child(10),
    :nth-child(11),
    :nth-child(12),
    :nth-child(13),
    :nth-child(14),
    :nth-child(15),
    :nth-child(16),
    :nth-child(17),
    :nth-child(18),
    :nth-child(19),
    :nth-child(20),
    :nth-child(21),
    :nth-child(22),
    :nth-child(23),
    :nth-child(24),
    :nth-child(25),
    :nth-child(26),
    :nth-child(27),
    :nth-child(28),
    :nth-child(29),
    :nth-child(30),
    :nth-child(31),
    :nth-child(32) {
      flex-basis: 32%;
    }
  }
}

#caboose {
  display: flex;
  flex-direction: row;
  height: 100px;
  transition: all 0.2s ease;
  background-image: none;
}

h3 {
  transition: all 0.2s ease;
}

h3:hover {
  transform: translateY(-5px);
}


/* CLIENT CARDS - Thanks Codepen! :) */

.row {
  max-width: 100%;
  margin: 0 auto;
  display: block;
  justify-content: center;

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.figure {
  background: var(--jigrey);
  display: flex;
  margin: 10px;
  flex-basis: 48%;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
  position: relative;
  text-align: center;
  height: 100%;
}

.figure * {
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

/* -------------------------------------------------------------------- */

.section-6 {
  background: var(--jigrey);
  color: var(--jilightgreen);


  .client-title-desktop {
    display: none;
  }

  p {
    display: none;
  }


  @media screen and (min-width: 1200px) {
    p {
      display: block;
    }

    .client-title-desktop{
      display: block;
    }
  }

  .client-title-mobile{
    display: block;
    font-size: 18px;
    text-align: center;
    margin-top: 40px;
  }
  
  @media screen and (min-width: 1200px) {
    .client-title-mobile{
      display: none;
    }
  }
}

.section-6 .figure {
  text-align: left;
  background: #000;
  font-size: 16px;
}

.section-6 .figure img {
  position: relative;
  max-width: 100%;
  vertical-align: top;
}

.section-6 figcaption {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}


.section-6 .figure figcaption:before,
.section-6 .figure figcaption:after {
  width: 4px;
  height: 0px;
}

.section-6 .figure figcaption:before {
  right: 0;
  top: 0;
}

.section-6 .figure figcaption:after {
  left: 0;
  bottom: 0;
}

.section-6 .figure h3,
.section-6 .figure p {
  line-height: 1.5em;
}

.section-6 .figure h3 {
  font-weight: 700;
  text-transform: uppercase;
}

.section-6 .figure p {
  font-weight: 400;
  margin: 0 0 15px;
}

.section-6 .figure a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.section-6 .figure:before,
.section-6 .figure:after,
.section-6 .figure figcaption:before,
.section-6 .figure figcaption:after {
  position: absolute;
  content: "";
  background-color: var(--jilightgreen);
  z-index: 1;
  -webkit-transition: all 0.35s ease-in;
  transition: all 0.35s ease-in;
  opacity: 1 !important;
}

.section-6 .figure:before,
.section-6 .figure:after {
  height: 4px;
  width: 0%;
}

.section-6 .figure:before {
  top: 0;
  left: 0;
}

.section-6 .figure:after {
  bottom: 0;
  right: 0;
}

.section-6 .figure:hover img,
.section-6 .figure.hover img {
  opacity: 0.2;
}

.section-6 .figure:hover figcaption:before,
.section-6 .figure.hover figcaption:before,
.section-6 .figure:hover figcaption:after,
.section-6 .figure.hover figcaption:after {
  height: 100%;
}

.section-6 .figure:hover figcaption {
  opacity: 1 !important;
}

.section-6 .figure:hover:before,
.section-6 .figure.hover:before,
.section-6 .figure:hover:after,
.section-6 .figure.hover:after {
  width: 100%;
}

.section-6 .figure:hover:before,
.section-6 .figure.hover:before,
.section-6 .figure:hover:after,
.section-6 .figure.hover:after,
.section-6 .figure:hover figcaption:before,
.section-6 .figure.hover figcaption:before,
.section-6 .figure:hover figcaption:after,
.section-6 .figure.hover figcaption:after {
  opacity: 1 !important;
}
