@media screen and (min-width: 1200px) {
    .third {
        flex-basis: 29%;
    }

    .half {
        flex-basis: 48%;
    }

    .full {
        flex-basis: 98%;
    }

}

.header-banner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 300px;

    h2 {
        width: 90%;
        padding-bottom: 0px !important; 
        margin-bottom: 0px !important;
        font-size: max(8vw, 18px) !important;
    }

    p {
        width: 90%;
    }

    @media screen and (min-width: 1200px) {
        height: auto;
    }
}

#photo-hero {
    display: none;
    height: auto;
    width: 100%;

    @media screen and (min-width: 1200px) {
        padding-top: 80px;
        display: flex;
        flex-direction: column;
        height: 900px;

        img {
            width: 100%;
        }
    }
}

.content-container {
    align-items: center;
}

#caboose {
    display: flex;
    flex-direction: row;
    height: 100px;
    transition: all 0.2s ease;
    background-image: none;
    justify-content: space-between;
    width: 70%;

    #prev-project {
        display: none;
    }
    #next-project {
        display: none;
    }

    @media screen and (min-width: 1200px) {
        #prev-project {
            display: block;
        }
        #next-project {
            display: block;
        }
    }

    #prev-project, #next-project, #back-btn {
        transition: all 0.2s ease;
    }
    
    #prev-project:hover {
        transform: translateX(-15px);
    }
    #all-project:hover {
        transform: translateY(-15px);
    }
    #next-project:hover {
        transform: translateX(15px);
    }
}



@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#first-back-btn {
    position: absolute;
    left: 300px;
    font-size: 24px;
    opacity: 0;
    animation: fadein 0.5s ease-in-out 4s forwards;
}