@media screen and (min-width: 1200px) {
    .third {
        flex-basis: 29%;
    }

    .half {
        flex-basis: 48%;
    }

    .full {
        flex-basis: 98%;
    }

}

#photo-hero {
    padding-top: 80px;
    display: flex;
    flex-direction: column;


    img {
        width: 100%;
        
    }
}

#caboose {
    display: flex;
    flex-direction: row;
    height: 100px;
    transition: all 0.2s ease;
    background-image: none;
}

h3 {
    transition: all 0.2s ease;
}

h3:hover {
    transform: translateX(-15px);
}

#first-back-btn {
    position: absolute;
    left: 300px;
    font-size: 24px;
}
