@media screen and (min-width: 1200px) {
    .third {
        flex-basis: 29%;
    }

    .half {
        flex-basis: 48%;
    }

    .full {
        flex-basis: 98%;
    }

}

.header-banner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    h2 {
        width: 90%;
    }

    p {
        width: 90%;
    }

}

#photo-hero {
    padding-top: 80px;
    display: flex;
    flex-direction: column;


    img {
        width: 100%;
        
    }
}

#caboose {
    display: flex;
    flex-direction: row;
    height: 100px;
    transition: all 0.2s ease;
    background-image: none;
}

h3 {
    transition: all 0.2s ease;
}

h3:hover {
    transform: translateX(-15px);
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#first-back-btn {
    position: absolute;
    left: 300px;
    font-size: 24px;
    opacity: 0;
    animation: fadein 0.5s ease-in-out 4s forwards;
}


