/* Add stuff here if you need for Film Fest only*/
/* This loads after and overwrites project-master.css */


h1 {
    width: 1000px;
}

.question {
    margin-top: 40px !important;
}

@media screen and (min-height: 1200px) {
    .question {
        margin-top: 180px;
    }
}