main {
    position: absolute;
    display: flex;
    flex-direction: column;

    .hero {
        width: 100vw;
        height: 800px;
        margin-top: 80px;
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-end;

        img {
            width: 100%;
            height: 100%;
        }

        .project-title {
            position: absolute;
            margin-right: 30px;

            h1 {
                color: #000;
                text-align: right;
                font-family: Anybody;
                font-size: 80px;
                font-style: normal;
                font-weight: 800;
                line-height: normal;
            }
        }
    }

    .project-description {
        margin-right: 30px;
        
        h2 {
            color: #FFF;
            text-align: right;
            font-family: "Anybody";
            font-size: 32px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }

        p {
            text-align: right;
            font-family: "Be Vietnam Pro";
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }

        .cta-button {
            position: relative;
        }
    }

    .content-container {
        display: flex;
        flex-direction: column;
        align-content: center;
        margin: auto;
        padding-bottom: 380px;
        padding-top: 60px;
        padding-left: 60px;
        text-align: left;

        .qa-container {
            display: flex;
            flex-direction: column;
            width: 80vw;
            margin-left: 60px;
            text-align: left;
            position: relative;
    
            .question {
                width: 100%;
                color: #FFF;
                font-family: "Anybody";
                font-size: 42px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                height: 50px;
                margin: 0;
            }

            .answer {
                max-width: 1000px;
                position: relative;
                font-family: "Be Vietnam Pro";
                font-size: 24px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                margin-left: 120px;
            }

            .centered {
                width: 100%;
                margin: 0 auto;
                margin-top: 60px;
                text-align: center;
                align-items: center;
                justify-content: center;
            }
        }

        .project-img {
            padding-top: 300px;
        }
    }
}
