.project-img {

    margin-left: 0;

    @media screen and (min-width: 1200px) {
        margin-left: 200px !important;
    }
}

.question {
    margin-top: 40px !important;
}




.highlight-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: var(--jidarkgreen);
    border-radius: 16px;
    margin: 120px;
    max-width: 1600px;

    .left-col {
        flex: 0 0 1;
        width: 40%;
        margin: 0 auto;
        padding-top: 30px;

        p {
            color: white;
        }
    }

    .right-col {
        flex: 0 0 1;
        width: 40%;
        margin: 0 auto;
        padding-top: 30px;
        color: white;

        p {
            color: white;
        }
    }

    .bottom-row {
        width: 70%;
        margin: 0 auto;
        padding-top: 60px;

        p {
            color: white;
            text-align: center;
        }
    }
}

.highlight-box {
    @media screen and (max-width: 1200px) {
        display: none !important;
    }   
}