/* Add stuff here if you need for Body Boost only*/
/* This loads after and overwrites project-master.css */


li {
    margin: 15px !important; 
}

p strong {
    color: white;
    line-height: 1.4;
}


.question {
    margin-top: 60px !important;
    margin-bottom: 20px;
}

.answer {
    padding-top: 20px;
}

/* .content-container .project-img {
    margin-bottom: 60px !important;
} */

ul {
    list-style-type: none;
}

.project-title h1 {
    display: none;
}

