#nav-video {
    text-decoration: underline;
}

#nav-project {
    text-decoration: none;
}

main {
    position: absolute;
}

#video-hero {
    display: flex;
    height: auto;
    aspect-ratio: 16/9;
    overflow: hidden;
    align-items: center;
    width: 100vw;

    /* iframe  {
        width: 100%;
        height: 100%;
        pointer-events: none;
    } */
     /* This is here in case we go back to youtube - but the quality sucked */
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;

    .header-banner {
        display: flex;
        background-color: var(--jigrey);
        width: 100vw;
        height: 250px;
        background-image: url("../media/topo/footer/left.png"),
        url("../media/topo/footer/right.png");
        background-position: top left, top right;
        background-repeat: no-repeat;
        background-size: 60%;
        text-align: center;
        justify-content: center;
    
        @media screen and (min-width: 1200px) {
            background-size: 50%;
            padding-top: 60px;
        }

        h2 {
            color: white;
            font-size: 48px;
        }
    }

    .video-holder {
        width: 60%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: flex-start;
        padding-bottom: 100px;

        .yt-video {
            width: 100%;
            aspect-ratio: 16/9;
        }
    }
}

#caboose {
    display: flex;
    flex-direction: row;
    height: 100px;
    transition: all 0.2s ease;
    background-image: none;
}

iframe {
    border-radius: 40px;
}